In [1]:
dict1={"april batch":{
    "student":{
        "name":"mike",
        "marks":{
            "python":80,
            "maths":70
        }}}}
dict1

{'april batch': {'student': {'name': 'mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [2]:
#accessing "mike"
dict1["april batch"]["student"]["name"]

'mike'

In [3]:
#access 80
dict1["april batch"]["student"]["marks"]["python"]

80

In [4]:
#change mike to your name
dict1["april batch"]["student"]["name"]= "prasanthi"
dict1

{'april batch': {'student': {'name': 'prasanthi',
   'marks': {'python': 80, 'maths': 70}}}}

In [8]:
#add ML=80 ND DL=80 inside marks
dict1["april batch"]["student"]["marks"]["ML"] =80
dict1["april batch"]["student"]["marks"]["DL"] =80
dict1

{'april batch': {'student': {'name': 'prasanthi',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [29]:
#Add and remove items from tuple 
tup=(1,2,5,0.05,"food",True)
#to add 10
list1 = list(tup)
print(list1)
list1.insert(0,12)#adding element at a particular index
print(list1)
list2=[22,33,44]
list1.extend(list2) #adding multiple elements
print(list1)
list1.pop(5)#removes food using pop
print(list1)
tup=tuple(list1)
print(tup)

[1, 2, 5, 0.05, 'food', True]
[12, 1, 2, 5, 0.05, 'food', True]
[12, 1, 2, 5, 0.05, 'food', True, 22, 33, 44]
[12, 1, 2, 5, 0.05, True, 22, 33, 44]
(12, 1, 2, 5, 0.05, True, 22, 33, 44)