In [83]:
#Built-in functions in string

P="Food"
print(P)
a=P[0:2]#slicing
b=P[-2:]
print(a)
print(b)
print(a+b)

Food
Fo
od
Food

In [14]:

#center()- will center align the string, using a specified character (space is default) as the fill character.
#string.center(length, character)-syntax
X=P.center(10,"a")
print(X)

aaaFoodaaa

In [21]:
#count() - Returns the number of times a specified value occurs in a string
#string.count(value, start, end)-syntax
R="I want one apple and one mango"
print(R)
x=R.count("one",5,27)
print(x)

I want one apple and one mango
2

In [26]:
#format()
y = "My name is {}, I'm {}".format("prav", 36)
print(y)
yz= "My name is {m}, I'm {n}".format(m="pavan",n=26)
print(yz)
#To demonstrate, we insert the number 20 to set the available space for the value to 20 characters.
#Use "^" to center-align the value:

txt = "We have {:^20} books."
print(txt.format(4))

My name is prav, I'm 36
My name is pavan, I'm 26
We have          4           books.

In [30]:
#join()-takes all items in an iterable and joins them into one string.
#string.join(iterable) -synatx
x = ("apple", "mango", "melon")

y = "l".join(x)

print(y)

applelmangolmelon

In [33]:
#lstrip(),rstrip() - method removes any leading characters 
#string.lstrip(characters) -syntax
a = "     banana     "

b = a.lstrip()
c = a.rstrip()

print("of fruits", b, "is my favorite")
print("of fruits", c, "is my favorite")

of fruits banana      is my favorite
of fruits      banana is my favorite

In [51]:
#rsplit() - splits a string into a list, starting from the right.
#string.rsplit(separator, maxsplit) - syntax

a = "apple#banana#cherry#b"

x = a.rsplit("#", 2)
y=a.split("#",3)
print(x)
print(y)

['apple#banana', 'cherry', 'b']
['apple', 'banana', 'cherry', 'b']

In [53]:
#isdecimal() - returns True if all the characters are decimals (0-9)
#string.isdecimal() 
y="apple"
z="2345"
print(y)
print(z)
a=y.isdecimal()
a=b.isdecimal()
print(a)
print(b)

apple
2345
False
banana

In [64]:
# isidentifier() - returns True if the string is a valid identifier(a-zZ,0-9,_) otherwise False.
#string.isidentifier()
y="abvA345_"
z="csftg-"
print(y)
a=y.isidentifier()
print(a)
b=z.isidentifier()
print(b)

abvA345_
True
False

In [76]:
#Task2 
#check if 'to' is present in string
str1="Welcome to python"
a=str1.rfind("to")#here by using rfind() we are searching the word 'to' and it is giving its index if it is present and if value is not find it will give -1 as a result.
print(a)

8